// Bulma override
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Muli", sans-serif !default;

$weight-light: 200 !default;
$weight-normal: 200 !default;
$weight-medium: 300 !default;
$weight-semibold: 300 !default;
$weight-bold: 600 !default;

// Custom Variables
$padding-1: 2rem;

//Colors
$white: #ffffff;

$confirmed: #292ce0;
$active: #e09729;
$recovered: #148539;
$deceased: #cf0808;
